.DS_Store
**/.DS_Store
**/*.pyc
makefile
server/deploy.sh
server/deploy.sh.bak
comeplus.git
github.git
server/src/node_modules
server/src/logs
client/tmp
client/incupdatedata
client/droid-inc-update/.settings
client/droid-inc-update/bin/*
client/droid-inc-update/gen/*
client/droid-inc-update/libs/*
client/droid-inc-update/obj/*
client/droid-inc-update-demo/.settings
client/droid-inc-update-demo/bin/*
client/droid-inc-update-demo/gen/*
client/droid-inc-update-demo/libs/*
client/droid-inc-update-demo/obj/*
client/droid-inc-update-demo/assets/incupdatelibs/*
client/droid-inc-update-demo-cocos/proj.android/.settings
client/droid-inc-update-demo-cocos/proj.android/bin/*
client/droid-inc-update-demo-cocos/proj.android/gen/*
client/droid-inc-update-demo-cocos/proj.android/libs/*
client/droid-inc-update-demo-cocos/proj.android/obj/*
client/droid-inc-update-demo-cocos/proj.android/assets/incupdatelibs/*
client/droid-inc-update-demo-cocos/proj.ios/RebornBird.xcodeproj/xcuserdata/*
client/droid-inc-update-demo-cocos/proj.ios/RebornBird.xcodeproj/project.xcworkspace/xcuserdata/*
client/droid-inc-update-demo-cocos/proj.android/libcocos2dcpp.so
